<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzj.dao.AdminRoleandpermissionDao">
  <resultMap id="BaseResultMap" type="com.hzj.pojo.AdminRoleandpermission">
    <id column="RoleID" jdbcType="INTEGER" property="roleid" />
    <id column="PermissionID" jdbcType="INTEGER" property="permissionid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from Admin_RoleAndPermission
    where RoleID = #{roleid,jdbcType=INTEGER}
      and PermissionID = #{permissionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hzj.pojo.AdminRoleandpermission">
    insert into Admin_RoleAndPermission (RoleID, PermissionID)
    values (#{roleid,jdbcType=INTEGER}, #{permissionid,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select RoleID, PermissionID
    from Admin_RoleAndPermission
  </select>
</mapper>