@CHARSET "UTF-8";
.Login-HeadFont{
	font-family: fantasy;
    color: #0656b9;
}
.Login-EdgeDiv{
	margin: 0 0 0 68%;
}
.Login-LoginButton{
	color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    font-size: 200%;
    padding: 3% 40% 3% 41%;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
}